.orange-button {
    width: 202px;
    height: 48px;
    background: #E77E42;
    border: 1px solid #E77E42;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFF;
    font-family: 'RobotoCondensed';
    
    &:hover{
        opacity: 0.7;
        transition: 0.3s;
    }
    
    &__img {
        margin-left: 10px;
    }
}
