.search-friend {
    max-width: 460px;
    background: rgba(2, 108, 0, 0.3);
    border-radius: 30px;
    text-align: center;
    padding-bottom: 80px;

    &__subtitle {
        color: #A4563E;
        font-weight: bold;
        font-size: 14px;
        text-transform: uppercase;
        padding-top: 80px;
        margin-bottom: 12px;
    }

    &__title {
        font-weight: bold;
        font-size: 44px;
        color: #275420;
        margin: 0 0 16px 0;
    }

    &__text {
        color: #202454;
        font-size: 16px;
        line-height: 140%;
    }
    
    &__orange-button{
        margin: 0 auto;
    }
}
