.blog {
    margin-top: 124px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @media(max-width: 1400px) {
        flex-direction: column;
    }

    &__search-friend {
        margin-right: 140px;
        margin: 0 auto;
        /*@media(max-width: 1310px) {
            margin-right: 70px;
        }

        @media(max-width: 1250px) {
            margin-right: 20px;
        }

        @media(max-width: 1400px) {
            max-width: 605px !important;
            margin: 0 auto;
        }*/
    }

    &__useful {
        @media(max-width: 1400px) {
            margin: 0 auto;
        }
    }
}
