.brand {
    margin-bottom: 32px;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;
        cursor: pointer;
        border-radius: 7px;
        transition: all .3s;

        &:hover {
            background: #F4F5F8;
            ;
        }
    }

    &__hide {
        width: 18px;
        height: 9px;
        transform: rotate(-90deg);
        fill: none;
        stroke: #202454;
    }

    &__check {
        color: #202454;
        font-size: 14px;
        display: flex;
        align-items: center;
        margin-bottom: 15px;
    }

    &__int {
        margin-left: 4px;
        color: #7B94B0;
    }

    &__show-more {
        cursor: pointer;
        color: #E77E42;
        font-weight: bold;
        font-size: 12px;
        margin-left: 34px;
    }
}
