.categories {
    max-width: 450px;
    background: #F4F5F8;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 16px;
    color: #202454;

    &__link {
        display: inline-block;
        max-width: 220px;
        margin-left: auto;
        
    }

    &__item {
        height: 56px;
        text-transform: uppercase;
        padding-left: 20px;
        padding-right: 20px;
        display: flex;
        align-items: center;


        &:hover {
            background: #fff;
            color: #2C9323;

        }
    }

    &__text {
        margin-right: 60px;
    }
}





.categories__icon--animal {
    stroke: #202454;
    fill: none;
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.categories__icon-vector {
    fill: none;
    stroke: #B6B7C4;
    height: 14px;
    width: 9px;
}
