.kinds {
    margin-left: 40px;
    margin-top: 28px;
    display: none;
    flex-wrap: wrap;

    &__kind {
        margin-right: 100px;
        margin-bottom: 32px;
        width: 167px;   
    }
}

.kind {
    display: flex;
    flex-direction: column;

    &__title {
        color: #202454;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 16px;
        text-transform: uppercase;
        white-space: nowrap;
    }

    &__item {
        color: #7B94B0;
        font-size: 13px;
        margin-bottom: 8px;

        &:hover {
            color: #7B946A;
        }

        &--green {
            font-weight: bold;
            font-size: 12px;
            color: #2C9323;

            &:hover {
                color: #2C93C8;
            }
        }
    }
}
