.search-result{
    display: none;
    margin-top: 40px;

    &--active{
        display: flex;
    }

    &__types{
        margin-right: 80px;
    }

    &__top{
        display: flex;
    }

    &__products{

    }

    &__orange-button{
        margin: 0 auto;
        display: none;

        &--active{
            display: flex;
        }
    }

    &__column{
        margin-right: 36px;
    }

    &__product-search{
        margin-bottom: 24px;
    }
}
