.selection {
    padding: 24px 0;
    border-top: 1px solid #E0E0E0;

    &--border{
        border-bottom: 1px solid #E0E0E0;
    }

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        border-radius: 7px;
        transition: all .3s;

        &--margin{
            margin-bottom: 0;
        }

        &:hover {
            background: #F4F5F8;
        }
    }

    &__bottom{
        margin-top: 24px;

        &--unactive{
            display: none;
        }
    }

    &__title {
        color: #202454;
        font-weight: bold;
        font-size: 16px;
        text-transform: uppercase;
    }

    &__hide {
        width: 18px;
        height: 9px;
        transform: rotate(270deg);
        fill: none;
        stroke: #202454;

        &--unactive{
            transform: rotate(90deg);
        }
    }
}
