.type {
    max-width: 280px;

    &__name {
        color: #202454;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 16px;
    }

    &__title {
        padding: 12px 10px;
        color: #202454;
        border-top: 1px solid #E0E0E0;
        background: rgba(58, 158, 253, 0.05);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
        font-size: 13px;
        cursor: pointer;
        transition: all .3s;
        width: 280px;

        &:hover {
            background: rgba(58, 158, 253, 0.5);
        }
    }
    
    &__items{
        display: none;
        
        &--active{
            display: block;
        }
    }

    &__item {
        display: block;
        color: #202454;
        font-size: 13px;
        border-top: 1px solid #E0E0E0;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 15px;
        transition: all .3s;

        &:hover {
            background: #F4F5F8;
        }
    }
}
